# =========================
# Logs
# =========================
*.log
logs/

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Temporary Files
# =========================
*.tmp
*.swp
